@import "../../assets/styles/vars";
@import "../../assets//styles/mixins";

.heroStats {
  width: 100%;
  height: max-content;
  margin: 24px auto;
  padding: 40px 28px 44px 28px;

  background-color: none;
  border-radius: 30px;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23FBE9BAFF' stroke-width='3' stroke-dasharray='12%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  @include desktop {
    width: 1316px;
    height: 116px;
  }
}

.flexWrapper {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.number {
  height: 36px;
  margin-right: 16px;
  margin-bottom: 16px;
  display: inline-block;
  font-size: 28px;
  letter-spacing: -0.56px;

  vertical-align: middle;
}

.description {
  width: 90px;
  margin-bottom: 16px;

  display: inline-block;

  font-size: 14px;
  font-weight: 400;

  line-height: 1.28571;
  letter-spacing: -0.28px;

  vertical-align: middle;
}
