@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";

.teacherCard {
  width: 100%;
  height: max-content;
  padding: 24px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 18px;

  border-radius: 24px;

  background: $white-bg-color;

  position: relative;

  @include desktop {
    width: 1184px;

    gap: 48px;
    flex-wrap: nowrap;
  }
}

.roundImageBorder {
  width: 117px;
  height: 117px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 12px solid #fff;
  border-radius: 50%;

  outline: 3px solid $accent-color;

  overflow: hidden;
}

.teacherPhoto {
  width: 96px;
  height: 96px;
}

.teacherCommonInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;

  @include tablet {
    flex-direction: row;
    column-gap: 16px;
  }
}

.languages {
  margin-top: 8px;
  margin-right: 29px;

  font-size: 16px;
  color: $grey-text-color;

  @include desktop {
    margin-right: 192px;
  }
}

.lessonsOnline {
  font-size: 16px;

  &:before {
    content: "";

    width: 16px;
    height: 16px;
    margin-right: 8px;

    display: inline-block;
    vertical-align: middle;

    background-image: url("../../assets/icons/book-open.svg");
  }

  &:after {
    content: "";

    height: 16px;
    width: 1px;
    margin-left: 16px;

    display: inline-block;
    vertical-align: middle;

    background-color: $common-info-delimiter-color;
  }
}

.lessonsDone {
  &:after {
    content: "";

    height: 16px;
    width: 1px;
    margin-left: 16px;

    display: inline-block;
    vertical-align: middle;

    background-color: $common-info-delimiter-color;
  }
}

.rating {
  &:before {
    content: "";

    width: 16px;
    height: 16px;
    margin-right: 8px;

    display: inline-block;
    vertical-align: middle;

    background-image: url("../../assets/icons/star.svg");
  }

  &:after {
    content: "";

    height: 16px;
    width: 1px;
    margin-left: 16px;

    display: inline-block;
    vertical-align: middle;

    background-color: $common-info-delimiter-color;
  }
}

.price {
  font-size: 16px;
}

.priceHighlight {
  color: #38cd3e;
}

.teacherName {
  margin-top: 8px;
  margin-bottom: 32px;
}

.furtherInfoList {
  margin-bottom: 16px;

  & li:not(:last-child) {
    margin-bottom: 8px;
  }
}

.furtherInfo {
  display: block;

  color: $grey-text-color;
  font-size: 16px;
  line-height: 1.5;
}

.blackUnderlined {
  text-decoration-line: underline;
  color: $black-text-color;
}

.black {
  color: $black-text-color;
}

.paragraphLineHeight {
  line-height: 1.5;
}

.reviewInstances {
  margin: 32px 0;

  & p {
    line-height: 1.5;
  }

  & li:not(:last-child) {
    margin-bottom: 32px;
  }
  @include desktop {
    width: 65%;
  }
}

.reviewerData {
  margin-bottom: 16px;

  display: flex;
}

.reviewerAvatar {
  width: 44px;
  height: 44px;
  margin-right: 12px;

  border-radius: 50%;

  background-color: #b6b6b6;

  overflow: hidden;
}

.reviewerPhoto {
  width: 44px;
  height: 44px;
}

.reviewerNameAndRating {
  & > span {
    display: block;
  }
}

.colorGrey {
  color: $grey-text-color;
}

.ratingWithStar {
  font-size: 16px;
  line-height: 1.28571;

  &:before {
    content: "";

    width: 16px;
    height: 16px;
    margin-right: 8px;

    display: inline-block;
    vertical-align: middle;

    background-image: url("../../assets/icons/star.svg");
  }
}

.levels {
  margin-bottom: 32px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.level {
  padding: 8px 12px;

  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;

  cursor: default;
}

.btn {
  width: 100%;
  padding: 16px 0px;

  border: 0px;
  border-radius: 12px;
  background: $accent-color;

  color: $black-text-color;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55556;

  cursor: pointer;

  &:hover {
    background-color: $accent-hover-color;
  }

  @include desktop {
    width: 267px;
  }
}

.readMoreBtn {
  width: 87px;
  height: 24px;

  margin: 16px 0 32px;

  background: none;
  border: none;

  color: $black-text-color;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-decoration-line: underline;

  cursor: pointer;
}
