@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";

.teacherCard {
  @include desktop {
    width: 1184px;
    height: max-content;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 48px;

    border-radius: 24px;
    background: #fff;

    position: relative;
  }
}

.roundImageBorder {
  @include desktop {
    width: 117px;
    height: 117px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 12px solid #fff;
    border-radius: 50%;

    outline: 3px solid #fbe9ba;

    overflow: hidden;
  }
}

.teacherPhoto {
  @include desktop {
    width: 96px;
    height: 96px;
  }
}

.teacherCommonInfo {
  display: flex;

  @include desktop {
  }
}

.languages {
  @include desktop {
    margin-right: 192px;
    font-size: 16px;
    color: #8a8a89;
  }
}

.lessonsOnline {
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../assets/icons/book-open.svg");
  }

  &:after {
    content: "";
    height: 16px;
    width: 1px;
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(18, 20, 23, 0.2);
  }

  @include desktop {
    font-size: 16px;
  }
}

.lessonsDone {
  &:after {
    content: "";
    height: 16px;
    width: 1px;
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(18, 20, 23, 0.2);
  }

  @include desktop {
    font-size: 16px;
    margin-left: 16px;
  }
}

.rating {
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../assets/icons/star.svg");
  }

  &:after {
    content: "";
    height: 16px;
    width: 1px;
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(18, 20, 23, 0.2);
  }

  @include desktop {
    font-size: 16px;
    margin-left: 16px;
  }
}

.price {
  @include desktop {
    font-size: 16px;
    margin-left: 16px;
  }
}

.priceHighlight {
  color: #38cd3e;
}

.teacherName {
  margin-top: 8px;
  margin-bottom: 32px;
}

.furtherInfoList {
  margin-bottom: 16px;

  & li:not(:last-child) {
    margin-bottom: 8px;
  }
}

.furtherInfo {
  display: block;
  color: #8a8a89;
  font-size: 16px;
  line-height: 1.5;
}

.blackUnderlined {
  text-decoration-line: underline;
  color: #121417;
}

.black {
  color: #121417;
}

.paragraphLineHeight {
  line-height: 1.5;
}

.reviewInstances {
  margin: 32px 0;

  & li:not(:last-child) {
    margin-bottom: 32px;
  }

  @include desktop {
    width: 65%;
  }
}

.reviewerData {
  margin-bottom: 16px;
  display: flex;
}

.reviewerAvatar {
  @include desktop {
    width: 44px;
    height: 44px;
    margin-right: 12px;
    border-radius: 50%;
    background-color: #b6b6b6;
  }
}

.reviewerNameAndRating {
  & > span {
    display: block;
  }
}

.colorGrey {
  color: #8a8a89;
}

.ratingWithStar {
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../assets/icons/star.svg");
  }

  @include desktop {
    font-size: 16px;
    line-height: 1.28571;
  }
}

.levels {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.level {
  padding: 8px 12px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;

  cursor: default;
}

.btn {
  width: 100%;
  padding: 16px 0px;

  border: 0px;
  border-radius: 12px;
  background: #f4c550;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55556;

  cursor: pointer;

  @include desktop {
    width: 267px;
  }
}
