@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";

.teachersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.teacherCard {
  @include desktop {
    width: 1184px;
    height: max-content;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 48px;

    border-radius: 24px;
    background: #fff;

    position: relative;
  }
}

.roundImageBorder {
  @include desktop {
    width: 117px;
    height: 117px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 12px solid #fff;
    border-radius: 50%;

    outline: 3px solid #fbe9ba;

    overflow: hidden;
  }
}

.teacherPhoto {
  @include desktop {
    width: 96px;
    height: 96px;
  }
}

.teacherCommonInfo {
  display: flex;
  @include desktop {
  }
}

.languages {
  @include desktop {
    margin-right: 192px;
    font-size: 16px;
    color: #8a8a89;
  }
}

.lessonsOnline {
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../assets/icons/book-open.svg");
  }

  &:after {
    content: "";
    height: 16px;
    width: 1px;
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(18, 20, 23, 0.2);
  }
  @include desktop {
    font-size: 16px;
  }
}

.lessonsDone {
  &:after {
    content: "";
    height: 16px;
    width: 1px;
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(18, 20, 23, 0.2);
  }
  @include desktop {
    font-size: 16px;
    margin-left: 16px;
  }
}

.rating {
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../../assets/icons/star.svg");
  }

  &:after {
    content: "";
    height: 16px;
    width: 1px;
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(18, 20, 23, 0.2);
  }

  @include desktop {
    font-size: 16px;
    margin-left: 16px;
  }
}

.price {
  @include desktop {
    font-size: 16px;
    margin-left: 16px;
  }
}

.priceHighlight {
  color: #38cd3e;
}
