@import "../../assets/styles/vars";
@import "../../assets//styles/mixins";

.flexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  @include desktop {
    flex-direction: row;
  }
}

.hero {
  width: 100%;
  margin: 0 auto;
  padding: 18px 28px;

  background-color: #f8f8f8;
  border-radius: 30px;

  @include desktop {
    width: 720px;
    height: 530px;
    margin: 0;
    padding: 98px 108px 98px 64px;
  }
}

.title {
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -1.2px;
}

.emphasize {
  font-weight: 400;
  font-style: italic;
  position: relative;

  z-index: 0;

  &:after {
    content: "";
    width: 200px;
    height: 40px;

    border-radius: 12px;
    background-color: $accent-color;

    position: absolute;
    top: 10px;
    left: -5px;
    z-index: -1;
  }
}

.caption {
  width: 100%;
  margin-top: 32px;

  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.32px;

  @include desktop {
    width: 471px;
    display: block;
  }
}

.btn {
  width: 100%;
  margin-top: 64px;
  padding: 16px 0px;

  border: 0px;
  border-radius: 12px;
  background: $accent-color;

  font-family: "Roboto", sans-serif;
  color: $black-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55556;

  cursor: pointer;

  &:hover {
    background-color: $accent-hover-color;
  }

  @include desktop {
    width: 267px;
  }
}
