@import "../../assets/styles/vars";

.loadMoreButton {
  width: 183px;
  height: 60px;
  padding: 16px 0px;
  margin: 0 auto 96px;
  display: block;

  border: 0px;
  border-radius: 12px;
  background: $accent-color;

  font-family: "Roboto", sans-serif;
  color: $black-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55556;

  cursor: pointer;

  &:hover {
    background-color: $accent-hover-color;
  }
}
