@import "../../assets/styles/vars";

.header {
  padding: 20px 0;
}

.headerFlexWrapper {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topNavbar {
  display: flex;
  gap: 28px;
}

.navItem {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  color: $black-text-color;
  font-weight: 400;
  line-height: 1.25;
}

.navbarAuth {
  display: flex;
  gap: 16px;
}

.navbarLogin {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $black-text-color;

    & img {
      margin-right: 8px;
    }
  }

  & :hover {
    cursor: pointer;
  }
}

.navbarLogout {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $black-text-color;

  & img {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
  }
}

.navbarRegister {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & button {
    width: 166px;
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121417;
    border: none;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $white-text-color;
  }

  & :hover {
    cursor: pointer;
  }
}
