@import "./assets/styles/reset";
@import './assets/styles/vars';
@import "./assets/styles/mixins";

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./assets/fonts/Roboto.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  color: $black-text-color;

  & .no-scroll {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    max-width: 1440px;
    padding: 0 24px;
  }
}
