@mixin headerContainer {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@mixin visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@mixin mobileSmall {
  @media screen and (max-width: 374px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: 375px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin desktopLarge {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
