$accent-color: #fbe9ba;

$black-text-color: #121417;
$grey-text-color: #8a8a89;
$white-text-color: #fff;

$white-bg-color: #fff;

$common-info-delimiter-color: rgba(18, 20, 23, 0.2);

$backdrop-color: rgba(18, 20, 23, 0.5);

$modal-white-color: #fff;
